.navbar-brand h2 {
    margin-left: 10px;
    font-size: 20pt;
    font-weight: 1000;
}

.navbar-brand {
    margin-right: 50px;
}

#title-line{
    display: block;
    /* width: 100px; */
    background-color: black;
    height: 2px;
    margin-bottom: 20px;
}

.brand-img {
    width: 100px;
}

.navbar-nav {
    gap: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 5px;
    font-size: 14pt;
}

.navbar-collapse{
    margin-bottom: 10px;
}

.side-nav{
    border-radius: 20px;
    border: 2px solid rgb(13, 109, 252);
    /* background-color: rgb(212, 212, 212); */
    padding: 20px;
    /* box-shadow: 5px 10px rgb(128, 128, 128);  */
}

.button-side-nav{
    color: black;
    padding-bottom: 0;
    padding-top: 0;
    margin: auto;
    font-size: 10pt;
}

.button-side-nav:hover{
    color: red;
    font-weight: 100;
}

.no-issn p{
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 12pt;
    /* background-color: red; */
    margin: 0;
}

#desc-jsay{
    font-size: 10pt;
}

.form-login{
    font-size: 10pt !important;
    /* background-color: red; */
    border-radius: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid rgb(13, 109, 252);
    /* box-shadow: 5px 10px rgb(128, 128, 128); */
}

.form-control{
    font-size: 10pt;
}

.btn-submit-login{
    font-size: 10pt;
}

.container-footer{
    color: white;
}
